.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.card{
    flex: 1;
    margin: 0px 8px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 3px 6px 0 #555;
    background-color: white;
    font-size: 15px;
    font-weight: bold;

}
.card-data{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.card-data1{
    display: flex;
    justify-content: space-between;
}
.card-num{
    color: blue;
}
.card-num1{
    color: blue;
}